.Sidebar{
    display: flex;
    flex-direction: column;
    flex:0.25;
    height: 100vh;
    background-color:#2f3135;
}

.Sidebar__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2f3135;
    color: white;
    border-bottom: 3px solid #26282c;
}

.Sidebar__channels{
    flex: 1;
}

.sidebar__addchannel{
    cursor: pointer;
}

.sidebar__addchannel:hover{
    color: white;
}

.Sidebar__channelsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2f3135;
    color: gray;
}

.Sidebar__header{
    display: flex;
    align-items: center;
}

.Sidebar__voice {

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    padding: 10px;
    border-top: 1px solid gray ;

} 

.Sidebar__voiceInfo {
    flex: 1;
    padding: 10px;
}

.Sidebar__profile{

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    padding: 10px;
    border-top: 1px solid gray ;

}



.Sidebar_voiceIcon{
    color: #4fb185;
}

.Sidebar__voiceInfo > h3 {
    color: #4fb185;
}

.Sidebar__voiceInfo > p {
    font-size: smaller;
}

.Sidebar__voiceIcons > .MuiSvgIcon-root {
    padding: 10px; 
}

.Sidebar__profileInfo{
    flex: 1;
    padding: 10px;
}

.Sidebar__profileInfo > h3 {
    color: white;
}

.Sidebar__profileIcons > .MuiSvgIcon-root {
    padding: 10px;
}


